body {background-color: #74AFAD;}
.hidden { display:none; }
.armed { background-color: red;}
.delayed_arm { background-color: Lime; animation:delayed_arm_blink 1s step-end infinite;}
.delayed_alarm { background-color: orange; animation:delayed_alarm_blink 1s step-end infinite;}
.alarm { background-color: red; animation:alarm_blink 1s step-end infinite;}
.alerted { background-color: yellow; animation:alert_blink 1s step-end infinite;}
.disarmed { background-color: Lime;}
@keyframes alarm_blink {0% {background-color: red} 50% {background-color: darkred}}
@keyframes delayed_arm_blink {0% {background-color: Lime} 50% {background-color: red}}
@keyframes delayed_alarm_blink {0% {background-color: orange} 50% {background-color: darkred}}
@keyframes alert_blink {0% {background-color: yellow} 50% {background-color: red}}
.template { display:none;}
html *{font-size:17px;font-family:serif;font-family: sans-serif; font-family: monospace; }
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.events { width:100%; }

@media only screen and (max-width: 767px) {
	html *{font-size:0.94em;}
	th, td { padding: 2px; }
	.controlPanel { 
		background-color: #ECECEA;
		border: 1px solid grey; 
		width:330px;
		height:330px;
		position:absolute;
		left: 50%;
		top: 50%;
		margin-left:-165px;
		margin-top:-165px;
	}
	.status {
		text-align:center;
		width:200px;
		padding: 4px;
		margin:20px 0 20px 0px;
	}
	#ipin {
		color:white;
		display: block;
		width: 200px;
		margin:20px 0 20px 65px;
		border: 1px solid grey;
		padding: 0px 10px 0px 10px;
	}
	.keypad, #controls {
		width: 200px;
		margin:10px 0 10px 65px;
	}
	.keypad input {
		width: 57px;
		height: 57px;
		margin-bottom:8px;
	}
	.left-column {
		margin-right: 8px;
	}
	.right-column {
		margin-left: 8px;
	}
	
	#controls input {
		width: 97px;
		height: 37px;
	}
}

@media only screen and (min-width: 768px),
screen and (min-width: 600px) and (orientation: portrait) {
	th, td { padding: 4px; }
    .controlPanel {    
    	height:500px; 	
		background-color: #ECECEA;
		border: 1px solid grey; 		
	}
	.controlPanel, .eventPanel {
		width:500px;
		position:absolute;
		left: 50%;
		top: 50%;
		margin-left:-250px;
		margin-top:-250px;
	}
	.status {
		text-align:center;
		width:300px;
		padding: 4px;
		margin:30px 0 30px 0px;
	}
	#ipin {
		color:white;
		display: block;
		width: 300px;
		margin:30px 0 30px 100px;
		border: 1px solid grey;
		padding: 0px 10px 0px 10px;
	}
	.keypad, #controls {
		width: 300px;
		margin:10px 0 10px 100px;
	}
	.keypad input {
		width: 87px;
		height: 87px;
		margin-bottom:15px;
	}
	.left-column {
		margin-right: 9px;
	}
	.right-column {
		margin-left: 9px;
	}
	
	#controls input {
		width: 145px;
		height: 50px;
	}
}