html {margin:0; padding:0;}
body {background-color: #74AFAD;margin:0;}
.hidden { display:none; }
.armed { background-color: red;}
.alarm { background-color: red; animation:blink 1s step-end infinite;}
.disarmed { background-color: green;}
@keyframes blink {0% {background-color: red} 50% {background-color: darkred}}
.template { display:none;}

@media only screen and (max-width: 767px) {
	th, td { padding: 2px; }
	.controlPanel { 
		background-color: #ECECEA;
		border: 1px solid grey; 
		width:330px;
		height:330px;
		position:absolute;
		left: 50%;
		top: 50%;
		margin-left:-165px;
		margin-top:-165px;
	}
	.status {
		text-align:center;
		width:200px;
		padding: 4px;
		margin:20px 0 20px 0px;
	}
	#ipin {
		color:white;
		display: block;
		width: 200px;
		margin:20px 0 20px 65px;
		border: 1px solid grey;
		padding: 0px 10px 0px 10px;
	}
	.keypad, #controls {
		width: 200px;
		margin:10px 0 10px 65px;
	}
	.keypad input {
		font-size: 20px;
		width: 57px;
		height: 57px;
		margin-bottom:8px;
	}
	.left-column {
		margin-right: 8px;
	}
	.right-column {
		margin-left: 8px;
	}
	
	#controls input {
		width: 97px;
		height: 37px;
	}
}

@media only screen and (min-width: 768px),
screen and (min-width: 600px) and (orientation: portrait) {
	th, td { padding: 4px; }
    .controlPanel { 
    	font-size:25px;
		background-color: #ECECEA;
		border: 1px solid grey; 
		width:500px;
		height:500px;
		position:absolute;
		left: 50%;
		top: 50%;
		margin-left:-250px;
		margin-top:-250px;
	}
	.status {
		text-align:center;
		width:300px;
		padding: 4px;
		margin:30px 0 30px 0px;
	}
	#ipin {
		font-size: 25px;
		color:white;
		display: block;
		width: 300px;
		margin:30px 0 30px 100px;
		border: 1px solid grey;
		padding: 0px 10px 0px 10px;
	}
	.keypad, #controls {
		width: 300px;
		margin:10px 0 10px 100px;
	}
	.keypad input {
		font-size: 25px;
		width: 88px;
		height: 88px;
		margin-bottom:8px;
	}
	.left-column {
		margin-right: 8px;
	}
	.right-column {
		margin-left: 8px;
	}
	
	#controls input {
		font-size:25px;
		width: 146px;
		height: 50px;
	}
}